.statistics ul {
  list-style-type: none;
  padding-left: 0;
}

.statistics ul li:not(:last-child) {
  margin-bottom: 4px;
}

.statistics ul li:nth-of-type(3) {
  margin-bottom: 20px;
}

.good {
  color: rgb(142, 201, 142);
}

.neutral {
  color: rgb(156, 156, 156);
}

.bad {
  margin-bottom: 20px;
  color: rgb(221, 161, 112);
}
